.fa {
    padding: 15px;
    font-size: 40px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    color: white;
    opacity: 0.4;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle at 35% 85%, #FEDA77, #F58529, #DD2A7B, #8134AF, #515BD4);
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-whatsapp {
    background: #25D366;
    color: white;
}

.fa-nyu {
    background-image: url(../img/nyu-logo.png);
    background-size: cover;
}

.fa-kgp {
    background-image: url(../img/kgp-logo.png);
    background-size: cover;
}